/* ======================================================
    <!-- Tag Input -->
/* ====================================================== */

.taginput__wrapper {

    --taginput-control-border-radius: 0.375rem;
    --taginput-control-wrapper-bg: #fff;
    --taginput-control-wrapper-border-color: #dee2e6;
    --taginput-control-color: #adb5bd;
    --taginput-list-bg: #efefef;
    --taginput-removebtn-fill: #000;
    --taginput-removebtn-hover-fill: #f00;
    --taginput-focus-border-color:#86b7fe;
    --taginput-focus-box-shadow: 0 0 0 0.25rem rgba(13,110,253,.25);


    display: flex;


    ul,
    li {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    
    .taginput__control-wrapper {
        display: flex;

        > div {
            position: relative;
            align-items: center;
            display: flex;
            flex-wrap: wrap;

            /* bootstrap style that match ".form-control" */
            padding: 0.375rem;
            background-color: var(--taginput-control-wrapper-bg);
            background-clip: padding-box;
            border: 1px solid var(--taginput-control-wrapper-border-color);
            appearance: none;
            border-radius: var(--taginput-control-border-radius);
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
            padding-bottom: 1px;


            .taginput__control {
                margin-bottom: 0.375rem;
                
                input {
                    background: transparent;
                    border: none;
                    outline: none;
                    padding: 0;
                    margin: 0;
                    margin-left: .5rem;

                    /* bootstrap style that match ".form-control" */
                    font-size: 0.875rem;
                    font-weight: 400;
                    line-height: 1.5;
                    color: var(--taginput-control-color);

                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }

            }

        }

    }


    ul.taginput__list {
        li {
            display: inline-block;
            margin: 5px;
            margin-bottom: 0;
            padding: .1rem 1.5rem .1rem 1rem;
            font-size: 0.875rem;
            background: var(--taginput-list-bg);
            border-radius: 30px;
            overflow: hidden;
            text-overflow: ellipsis;
            position: relative;

            > a {
                font-weight: 400;
                opacity: .6;
                font-size: 18px;
                line-height: 20px;
                position: absolute;
                right: 8px;
                top: 50%;
                transform: translateY(-50%);

                path {
                    fill: var(--taginput-removebtn-fill);
                }

                &:hover {
                    path {
                        fill: var(--taginput-removebtn-hover-fill);
                    }
                }
            }

        }

    }

    &.focus-floating {
        .taginput__control-wrapper {
            > div {
                box-shadow: var(--taginput-focus-box-shadow);
                border-color: var(--taginput-focus-border-color);
            } 
        }
    }

}