/* ======================================================
    <!-- Multiple Select -->
/* ====================================================== */
.m-select__wrapper {


    --m-select-wrapper-min-w: 350px;
    --m-select-wrapper-min-h: 315px;
    --m-select-header-font-size: 0.75rem;
    --m-select-body-font-size: 0.75rem;
    --m-select-scrollbar-color: rgba(0, 0, 0, 0.2);
    --m-select-scrollbar-track: rgba(0, 0, 0, 0);
    --m-select-scrollbar-w: 3px;
    --m-select-search-icon-color: #333;
    --m-select-body-bg: #fff;
    --m-select-header-bg: #dee2e6;
    --m-select-border-color: #dee2e6;
    --m-select-options-item-bg: #f6f6f6;
    --m-select-options-item-icon-color: #000;
    --m-select-options-item-selected-bg: #0b5ed7;
    --m-select-options-item-selected-icon-color: #fff;
    --m-select-options-item-selected-text-color: #fff;
    --m-select-options-item-dividingline-color: rgba(255, 255, 255, 1);
    --m-select-search-input-w: 100px;
    --m-select-search-input-bg: #fff;
    --m-select-search-input-text-color: #333;



	min-width: var(--m-select-wrapper-min-w);
	min-height: var(--m-select-wrapper-min-h);
	width: 100%;
	height: 100%;
	border: solid 1px var(--m-select-border-color);
	border-radius: 0.35rem;
	position: relative;
	background: var(--m-select-body-bg);


    .m-select-diving-line {
        width: 1px;
        background-color: var(--m-select-border-color);
        left: 50%;
        top: 0;
        position: absolute;
        height: 100%;
        z-index: 1;
    }
    
    .m-select-inner {
        display: flex;
        font-size: 0.8em;
        height: 100%;


        ul,
        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        div.m-select__selected__container,
        div.m-select__available__container {
            position: relative;
            flex: 1;
        }
        ul.m-select__selected,
        ul.m-select__available {
            position: relative;
            overflow: auto;
            overflow-x: hidden;
            border: none;
            position: relative;
            width: 100%;
        }


        ul {
            user-select: none;
            &.m-select__selected {
                li {

                }
            }
        }
        li {
            cursor: default;
            position: relative;
            font-size: var(--m-select-body-font-size);
            display: flex;
            justify-content: space-between;
            background: var(--m-select-options-item-bg);
            border-bottom: 1px solid var(--m-select-options-item-dividingline-color);

            &.disabled {
                pointer-events: none;
                opacity: .4;
            }


            &.hide {
                display: none;
            }
 
            &:hover {
                opacity: .8;
            }
            &.selected {
                background: var(--m-select-options-item-selected-bg);
                color: var(--m-select-options-item-selected-text-color);
                & > i {
                    svg {
                        path {
                            fill: var(--m-select-options-item-selected-icon-color);
                        }
                    }
                }
            }
            &:last-child {
                border-bottom: none;
            }
            > span {
                padding: .35rem .75rem;
                display: inline-block;
                max-width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap: break-word;
                word-break: break-word;
            }

            > strong {
                font-weight: normal;
            }
            
            > i {
                display: inline-block;
                padding: .35rem .75rem;
                cursor: pointer;

                svg {
                    path {
                        fill: var(--m-select-options-item-icon-color);
                    }
                }
            }



            a {
                color: #999;
                text-decoration: none;
                padding: 0;
                display: block;
                cursor: pointer;
                &.m-select__item-action {
                    position: absolute;
                    right: 0.5rem;
                    top: 0.5rem;
                }
            }
        }
        div {
            &.m-select__selected__container {
                .m-select__header {
                    border-radius: 0 0.35rem 0 0;
                }
            }
            &.m-select__available__container {
                .m-select__header {
                    border-radius: 0.35rem 0 0 0;
                }
            }
        }
        .m-select__header {
            border: none;
            font-size: var(--m-select-header-font-size);
            margin-bottom: 1px;
            background: var(--m-select-header-bg);
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 1.625rem;
        }
        .m-select__btn--add-all {
            padding: 0.2rem;
        }
        .m-select__btn--remove-all {
            padding: 0.2rem;
        }
        .m-select__count {
            padding: 0.2rem;
        }
        .m-select__title {
            padding: 0.2rem;
            font-weight: bold;
        }


        /* Search */
        .m-select__search__container {
            position: relative;

            /* required */
            align-items: center;
            display: flex;

            input.m-select__search {
                height: 14px;
                padding: .1rem .5rem;
                opacity: 0.5;
                margin: 4px;
                width: var(--m-select-search-input-w);
                background-color: var(--m-select-search-input-bg);
                color: var(--m-select-search-input-text-color);
                border-radius: 25px;
                border: none;
                outline: none;
                box-shadow: none;
            }

            i {
                position: absolute;
                right: .6em;

                svg {
                    fill: var(--m-select-search-icon-color);
                }
            }
        }

    }


    /*-------- List --------*/
    .m-select__options-contentlist {
        position: relative;
        width: 100%;
        overflow: hidden;
        overflow-y: auto;
        max-height: calc(315px - 1.75rem);
        &::-webkit-scrollbar {
            width: var(--m-select-scrollbar-w);
        }
        &::-webkit-scrollbar-thumb {
            background: var(--m-select-scrollbar-color);
        }
        &::-webkit-scrollbar-track {
            background: var(--m-select-scrollbar-track);
        }
        &.dragging {
            cursor: grab;
        }
    }
    .m-select__options-contentlist--hide {
        overflow: hidden;
        height: auto;
    }



}
