/* ======================================================
   <!-- Dropdown Menu -->
/* ====================================================== */

/* Do not use <a> tag */
.dropdown-default {

   
    --dropdown-ul-box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    --dropdown-ul-bg: #fff;

    --dropdown-ulbefore-box-shadow: 2px -2px 6px rgba(0, 0, 0, 0.05);
    --dropdown-ulbefore-border-color: #fff;
    
    --dropdown-li-bg: #fff;
    --dropdown-li-hover-bg: #FAFAFA;
    
    --dropdown-link-border-color: rgba(0, 0, 0, 0.05);
    --dropdown-link-color: #333;

    

	display: inline-block;
	cursor: pointer;
	position: relative;
    
    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    strong {
        font-weight: normal;
        display: inline-block;
        margin-left: .3rem;
    }
    
	> ul {
		display: none;
		position: absolute;
		top: 100%;
        left: 0;
		margin-top: 8px;
		min-width: 50px;
        white-space: nowrap;
		border-radius: 4px;
		text-align: left;
		box-shadow: var(--dropdown-ul-box-shadow);
        background: var(--dropdown-ul-bg);
		transition: .1s ease-in-out;


		&::before {
			content: '';
			position: absolute;
			top: -3px;
			left: 10px;
			width: 0;
			height: 0;
			box-shadow: var(--dropdown-ulbefore-box-shadow);
			border-top: 4px solid var(--dropdown-ulbefore-border-color);
			border-right: 4px solid var(--dropdown-ulbefore-border-color);
			border-bottom: 4px solid transparent;
			border-left: 4px solid transparent;
			transform: rotate(-45deg);
		}

        /* Prevent the hover threshold from failing */
		&::after {
			content: '';
            display: block;
            background-color: transparent;
			position: absolute;
			top: -10px;
			left: 0;
			width: 100%;
			height: 20px;
		}

		li {
			z-index: 1;
			position: relative;
			background: var(--dropdown-li-bg);
			padding: 0 .75rem;


            &:hover {
                background: var(--dropdown-li-hover-bg);
            }

			a {
				display: block;
				border-bottom: 1px solid var(--dropdown-link-border-color);
				padding: .75rem 0;
				color: var(--dropdown-link-color);
				font-size: 0.75rem;
				text-decoration: none;

                svg,
                i {
                    display: none;
                }
        

			}


			&:first-child {
				border-radius: 4px 4px 0 0;
			}
			&:last-child {
				border-radius: 0 0 4px 4px;

				a {
					border-bottom: 0;
				}
			}
		}

	}

    &.dropdown-default--start {
        // default
    }

    &.dropdown-default--center {
        > ul {
            left: 50%;
            transform: translateX(-50%);

            &::before {
                left: 50%;
                transform: translateX(-50%) rotate(-45deg);
            }

        }
    }

    &.dropdown-default--end {
        > ul {
            left: auto;
            right: 0;

            &::before {
                left: auto;
                right: 10px;
            }
    
        }

    }

    &.active {
		> ul {
            animation: dropdown-display 0.4s cubic-bezier(0.73, 0.005, 0.22, 1);
			display: block !important;
		}
    }
  

}




@keyframes dropdown-display {
    0%{
        opacity: 0;
        transform: scale(0.98) translateY(-0.6em);
    }

    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

  
  