/* ======================================================
    <!-- Multi-level Dropdown Menu -->
/* ====================================================== */

.navbar-nav {

    a {
        position: relative;
    }

	.arrow {
        transition: .1s ease-in-out;
		display: inline-block;
		text-align: center;
		position: absolute;
        right: 0.5em;
        top: 1.5em;
        transform: translateY(-50%) rotate(0deg);
	}

	li {

		position: relative;

		> a {
	
			&:hover {
				
			}

			&.active {

				 > .arrow {
					transform: translateY(-50%) rotate(90deg);
				}


			}

		}

        &.active > a {

        }        


	}

	> li {

		ul {
            transition: max-height 0.25s ease;
			overflow: hidden;
			position: relative;
		}
	}

	> li:not(.active) {

		ul {
			max-height: 0;
		}
	}


	> li ul ul {
        margin-top: auto;
	}


}
