/* ======================================================
   <!-- Event Calendar -->
/* ====================================================== */

// Disabled item
// ---------------------------
//
@mixin disabled-item() {
    // @include disabled-item(); 
    opacity: .4;
    pointer-events: none;
}

.e-cal-normal__wrapper {
    --e-cal-normal-wrapper-min-width: 400px;
    --e-cal-normal-body-bg: #fff;
    --e-cal-normal-border-color: #ddd;
    --e-cal-normal-border-color-hover: #333;
    --e-cal-normal-header-fs: 1.125rem;
    --e-cal-normal-default-border-color: #eee;
    --e-cal-normal-day-border-color: #ddd;
    --e-cal-normal-day-hover-bg: #f6f6f6;
    --e-cal-normal-dayselected-bg: #0b5ed7;
    --e-cal-normal-dayselected-text-color: #fff;
    --e-cal-normal-year-month-btn-border-color: #ddd;
    --e-cal-normal-year-month-btn-hover-bg: rgba(0, 58, 166, .1);
    --e-cal-normal-year-month-btn-selected-bg: rgba(0, 58, 166, 1);
    --e-cal-normal-year-month-btn-selected-color: #fff;
    --e-cal-normal-month-wrapper-w: 18.75rem;
    --e-cal-normal-year-wrapper-w: 18.75rem;
    --e-cal-normal-header-arrow-bg: #000;
    --e-cal-normal-header-text-color: #000;
    --e-cal-normal-header-prevnext-btn-bg: transparent;
    --e-cal-normal-header-prevnext-btn-color: #000;
    --e-cal-normal-header-prevnext-btn-radius: 0.25rem;
    --e-cal-normal-table-add-btn-color: #0b5ed7;
    --e-cal-normal-delete-btn-color: #ee4949;
    --e-cal-normal-footer-today-btn-bg: rgba(0, 58, 166, 1);
    --e-cal-normal-footer-today-btn-color: #fff;
    --e-cal-normal-event-default-bg: rgb(255, 240, 227);
    --e-cal-normal-table-event-font-size: 0.75rem;


    position: relative;
    min-width: var(--e-cal-normal-wrapper-min-width);
    border: 1px solid var(--e-cal-normal-border-color);


    /* --HEADER --*/
    .e-cal-normal__header {
        font-size: var(--e-cal-normal-header-fs);
        font-weight: bold;
        padding: 10px 10px 5px 10px;
        display: flex;
        justify-content: space-between;

        .e-cal-normal__header__btns {
            .e-cal-normal__btn {
                margin-right: 1rem;
                color: var(--e-cal-normal-header-text-color);

                svg {
                    margin-left: .3rem;

                    path {
                        fill: var(--e-cal-normal-header-arrow-bg);
                    }
                }

                &.active {
                    svg {
                        transform: rotate(180deg);
                    }
                }

            }
        }

    }


    /*-- BODY --*/
    .e-cal-normal__body {
        background: var(--e-cal-normal-body-bg);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    /*-- CELL --*/
    .e-cal-normal__row {
        display: flex;
        width: 100%;

        .e-cal-normal__cell {
            flex: 1;
            position: relative;
            height: auto;
            min-height: 4.75em;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            text-align: center;
            border-width: 0;
            border-color: var(--e-cal-normal-default-border-color);
            border-style: solid;
            border-top-width: 1px;
            border-right-width: 1px;

            &.disabled {
                @include disabled-item();
            }

            &.last-cell {
                border-right-width: 0;
            }

            &.last-row {
                border-bottom-width: 1px;
            }

            &.e-cal-normal__day--week {
                min-height: 2.75em;
                align-items: end;
                padding-inline-end: .75rem;
            }

            &:not(.empty):hover {
                background-color: var(--e-cal-normal-day-hover-bg);
            }

            .e-cal-normal__day__event {
                margin-bottom: 1px;
                font-size: var(--e-cal-normal-table-event-font-size);
                background-color: var(--e-cal-normal-event-default-bg);
                text-align: left;
                
                &:hover {
                    cursor: pointer;
                    opacity: .8;
                }
            }

            .e-cal-normal__cell-item.first {
                margin-top: 2.5rem;
            }
            

            /* Delete button */
            .e-cal-normal__day__eventdel {
                position: absolute;
                z-index: 1;
                right: -5px;
                top: 0;
                display: none;
                color: var(--e-cal-normal-delete-btn-color);

                svg {
                    width: 10px;
                    fill: var(--e-cal-normal-delete-btn-color);

                    path {
                        fill: var(--e-cal-normal-delete-btn-color);
                    }
                }

                &:hover {
                    svg {
                        transform: scale(1.2);
                    }
                }
            }

            &:not(.empty) .e-cal-normal__cell-item:hover {
                .e-cal-normal__day__eventdel {
                    display: block;
                }

            }


            /* Add button */
            .e-cal-normal__day__eventadd {
                position: absolute;
                z-index: 1;
                left: 0;
                bottom: -8.5px;
                display: none;
                width: 20px;
                color: var(--e-cal-normal-table-add-btn-color);
                text-align: left;
                pointer-events: none;

                > a {
                    pointer-events: auto;
                }

                svg {
                    width: 15px;
                    fill: var(--e-cal-normal-table-add-btn-color);

                    path {
                        fill: var(--e-cal-normal-table-add-btn-color);
                    }
                }

                &:hover {
                    svg {
                        transform: scale(1.2);
                    }
                }
            }

            &:hover {
                .e-cal-normal__day__eventadd {
                    display: block;
                }

            }




            /* DAY NUMBER */
            > span {
                position: absolute;
                right: .25rem;
                top: .25rem;
                display: inline-block;
                padding: .1rem;
                border-radius: 50%;
                width: 1.7rem;
                height: 1.7rem;
                line-height: 1.5;
                margin: .5rem 0;

                &.disabled {
                    opacity: .2;
                }
            }

            
            /* ITEMS */
            > div {
                position: relative;
                width: 100%;
            }


            &:not(.empty) {
                cursor: pointer;
            }

            &.today {}

            &.selected {
                >span {
                    color: var(--e-cal-normal-dayselected-text-color);
                    background-color: var(--e-cal-normal-dayselected-bg);
                }
            }

        }


    }


    /*-- SELECTION --*/
    .e-cal-normal__month-wrapper {
        position: absolute;
        width: var(--e-cal-normal-month-wrapper-w);
        height: auto;
        z-index: 1;
        top: calc(1rem + 22px);
        left: 50%;
        transform: translateX(-50%);
        display: none;

        &.active {
            display: block;
        }


        .e-cal-normal__month-container {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(4, 2.5em);
            grid-gap: 10px;
        }


    }


    .e-cal-normal__year-wrapper {
        position: absolute;
        width: var(--e-cal-normal-year-wrapper-w);
        height: auto;
        z-index: 1;
        top: calc(1rem + 22px);
        left: 50%;
        transform: translateX(-50%);
        display: none;

        &.active {
            display: block;
        }

        .e-cal-normal__year-container {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(5, 2.5em);
            grid-gap: 5px;
        }
    }


    .e-cal-normal__year,
    .e-cal-normal__month {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        font-size: 0.875em;
        border: 1px solid var(--e-cal-normal-year-month-btn-border-color);
        border-radius: 0.25rem;
        cursor: pointer;

        &:hover {
            background-color: var(--e-cal-normal-year-month-btn-hover-bg);
        }

        &.selected {
            background-color: var(--e-cal-normal-year-month-btn-selected-bg);
            color: var(--e-cal-normal-year-month-btn-selected-color);
        }

        &.disabled {
            @include disabled-item();
        }

    }




    /* --BUTTON --*/
    .e-cal-normal__btn {
        border: none;
        outline: none;
        background: none;
        padding: 0;
        margin: 0;
        box-shadow: none;
        cursor: pointer;

        /* required */
        display: inline-flex;
        align-items: center;

        svg {
            path {
                fill: var(--e-cal-normal-header-arrow-bg);
            }
        }

        &.disabled {
            @include disabled-item();
        }

        &--prev,
        &--next {
            border-radius: var(--e-cal-normal-header-prevnext-btn-radius);
            color: var(--e-cal-normal-header-prevnext-btn-color);
            background-color: var(--e-cal-normal-header-prevnext-btn-bg);

            svg {
                path {
                    fill: var(--e-cal-normal-header-prevnext-btn-color);
                }
            }

        }

        &--today {
            border: 1px solid var(--e-cal-normal-border-color);
            border-radius: 0.25rem;
            font-size: 0.875em;
            padding: .2rem 1rem;
            color: var(--e-cal-normal-footer-today-btn-color);
            background-color: var(--e-cal-normal-footer-today-btn-bg);
        }
    }


}