/* ======================================================
    <!-- Cascading Select -->
/* ====================================================== */

.cas-select__wrapper {

    --cas-select-arrow-fill: #a5a5a5;
    --cas-select-result-arrow-fill: #a5a5a5;

    --cas-select-result-font-size: 1rem;
    --cas-select-result-padding-x: 0.75rem;
    --cas-select-result-padding-y: 0.375rem;


    .cas-select__result {
        position: absolute;
        left: auto;
        z-index: 1;
        top: 0;
        padding: var(--cas-select-result-padding-y) var(--cas-select-result-padding-x);
        font-size: var(--cas-select-result-font-size);
        font-weight: 400;
        line-height: 1.5;
        color: inherit;

        div {
            display: inline;
        }

        span {
            padding: 3px;
        }

        svg {
            margin: 0 0.3rem;

            path {
                fill: var(--cas-select-result-arrow-fill);
            }

        }

    }


    .cas-select__closemask {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        user-select: none;
    }


    .cas-select__trigger {
        position: relative;
        z-index: 0;
    }


    .cas-select__val {
        position: relative;


        input {
            cursor: pointer;
            color: transparent !important;

            &:focus {
                color: transparent !important;
            }
        }

        .arrow {
            position: absolute;
            top: 0;
            margin-top: .3rem;
            right: .5rem;

            svg {
                .arrow-fill-g {
                    fill: var(--cas-select-arrow-fill);
                }
            }
        }
    }



}

/*------ List ------*/
.cas-select__items-wrapper {


    --cas-select-opt-font-size: 0.875rem;
    --cas-select-opt-padding-x: .4rem;
    --cas-select-opt-padding-y: .3rem;

    --cas-select-opt-header-border-color: rgba(1, 1, 1, .2);
    --cas-select-opt-header-text-color: #999;
    --cas-select-opt-hover-bg: #f7f7f7;
    --cas-select-opt-active-bg: #eeeeee;


    --cas-select-items-box-shadow: 0 5px 15px 5px rgba(80, 102, 224, 0.08);
    --cas-select-items-bg: #fff;
    --cas-select-items-color: inherit;
    --cas-select-items-border-color: rgba(0, 0, 0, .1);
    --cas-select-items-li-border-color: #eee;

    --cas-select-loader-color: #000000;
    --cas-select-clean-btn-color: #b5b5b5;
    

    box-shadow: var(--cas-select-items-box-shadow);
    position: absolute;
    left: auto;
    max-height: 350px;
    border: 1px solid var(--cas-select-items-border-color);
    background: var(--cas-select-items-bg);
    padding: 10px;
    overflow-y: auto;
    box-sizing: border-box;
    top: 2.3rem;
    border-radius: 5px;
    width: max-content;
    /* required -> the content will not wrap at all even if it causes overflows*/
    color: var(--cas-select-items-color);
    

    display: none;
    z-index: 1055;  /* --bs-modal-zindex */

    &.active {
        display: block;
    }



    ul,
    li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .cas-select__items-loader {
        position: absolute;
        pointer-events: none;
        left: 0;
        top: 0;
        margin-left: 5px;
        z-index: 1;
        z-index: 1;
        width: 12px;
        height: 12px;
        text-align: center;
        transform-origin: bottom;
        animation: 1s linear infinite cas-select__spinner;

        svg path {
            fill: var(--cas-select-loader-color);
        }
    }

    @keyframes cas-select__spinner {
        to {
            transform: rotate(-360deg);
        }
    }

    .cas-select__close {
        svg {
            opacity: .4;
        }
    }

    .cas-select__close:hover {
        svg {
            transition: .2s ease-out;
            opacity: .7;
        }
    }

    /* each item */
    ul {
        transition: .2s ease-out;
        min-width: 8px;
        min-height: 9px;

        >li {
            position: relative;
            cursor: pointer;
            float: left;
            padding: 0 10px;
            margin-right: 15px;
            border-right: 1px dotted var(--cas-select-items-li-border-color);
            transition: .2s ease-out;

            &.hide-col {
                display: none;
            }

        }

        >li:last-child {
            margin-right: 0;
            border-right: none;
        }
    }



    /* Options */
    .cas-select__opt {
        padding: var(--cas-select-opt-padding-y) var(--cas-select-opt-padding-x);
        font-size: var(--cas-select-opt-font-size);
        border-radius: 2px;

        &:hover {
            background: var(--cas-select-opt-hover-bg);
        }

        &.active {
            background: var(--cas-select-opt-active-bg);
        }
    }

    .cas-select__opt-header {
        padding: var(--cas-select-opt-padding-y) var(--cas-select-opt-padding-x);
        font-size: var(--cas-select-opt-font-size);        
        border-bottom: 1px dotted var(--cas-select-opt-header-border-color);
        border-radius: 2px;
        position: sticky;
        top: calc(var(--cas-select-opt-font-size) * -1);
        background: var(--cas-select-items-bg);
        color: var(--cas-select-opt-header-text-color);
        display: flex;
        align-items: center;

        > span {
            cursor: default;
        }
  

        &:hover {
            background: var(--cas-select-opt-hover-bg);
        }

        &.active {
            background: var(--cas-select-opt-active-bg);
        }

        .cas-select__opt-header__clean {
            display: inline-block;
            margin-left: .2rem;
            padding: .1rem;

            &:hover {
                transform: scale(1.1);
            }

            svg {

                border: 1px var(--cas-select-clean-btn-color) solid;
                border-radius: 50%;

                path {
                    fill: var(--cas-select-clean-btn-color);
                }
            }
        }
    }


}

