/* ======================================================
    <!-- Table -->
/* ====================================================== */

.table__wrapper {
    --table-alternant-bg: #f0f0f0;
    --table-dark-bg: #212529;

    table {

        &.table-colgroup {
            tbody tr td:first-child,
            tbody tr th:first-child {
                color: #fff;
            }

            col:nth-child(odd) {
                background-color: var(--table-alternant-bg);
            }

            col:first-child {
                background-color: var(--table-dark-bg);
            }

        }


    }
}
@media all and (max-width: 768px) {

    .table__wrapper {
        --table-border-color: #dee2e6;
        --table-per-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

        /*------ Enhanced Responsive ------*/
        &.table-enhanced-responsive {

            table {

                thead {
                    display: none;
                }

                tbody {

                    tr {
                        box-shadow: var(--table-per-shadow);
                        margin-bottom: 1rem;
                        display: block;
                    }

                    tr:nth-of-type(even) {
                        //background-color: $table-alternant-bg;
                    }

                    
                    td,
                    th {
                        display: block;


                        &::before {
                            content: attr(data-table);
                            display: block;
                            float: left;
                            width: 40%;
                            font-weight: bold;
                            border-right: 1px solid var(--table-border-color);
                            margin-right: 0.5rem;
                        }

                        &::after {
                            content: '';
                            display: block;
                            clear: both;
                        }
                    }

                }


            }
        }


        /*------ Enhanced Responsive with Scroll Bars ------*/
        &.js-table-enhanced-responsive-scrolled {

            table {
                display: block;
                width: 100%;
                border-bottom: 0 !important;
                border-left: 0 !important;
                border-right: 0 !important;
                overflow: auto;


                thead {
                    display: block;
                    float: left;
                    width: 100px;
                    border-bottom: 1px solid var(--table-border-color);

                    th {
                        display: block;

                        &:not(last-child) {
                            border-bottom: 0;
                        }

                    }
                }

                tbody {
                    width: calc(100% - 100px);
                    display: block;
                    float: left;
                    overflow-x: scroll;
                    border-bottom: 1px solid var(--table-border-color);
                    border-right: 1px solid var(--table-border-color);
                }

                thead tr,
                tbody tr {
                    display: block;
                    border-color: var(--table-border-color);
                }

                th,
                tbody td,
                tbody th {
                    box-sizing: border-box;
                    overflow-x: hidden;
                    overflow-y: auto;

                    &:first-child {
                        border-top: 0;
                    }

                    &:not(last-child) {
                        border-bottom: 0;
                        border-right: 0;
                    }

                }


                tbody tr {
                    display: table-cell;

                }

                tbody td,
                tbody th {
                    display: block;
                }

            }
        }
    }

}